<div class="toolbar-notification-container">
	<button mat-icon-button (click)="isOpen = !isOpen;" [ngClass]="[cssPrefix+'-btn']"  (click)="notification0()">
    	<mat-icon>notifications_none</mat-icon>
    	<span class="badge" *ngIf="notifications && notifications?.length !== 0 && notilength !==0">{{ notilength }}</span>
  </button>


	<div class="dropdown mat-elevation-z4" [class.open]="isOpen">

	<div class="card">
      	<div class="header" fxLayout="row" fxLayoutAlign="space-between center">
        	<div class="title">
         		 <div class="name">Notifications</div>
          		<div class="extra" >
You have {{ notifications?.length }} new notifications</div>
        	</div>
        
      	</div>
      	<div *ngIf="notifications?.length !== 0; then thenBlock else elseBlock;"></div>
      
    </div>

	</div>

</div>

<ng-template #thenBlock>
  <perfect-scrollbar class="content">
    <div *ngFor="let notification of notifications; last as isLast">
      <div class="notification" fxLayout="row" fxLayoutAlign="start center" mat-ripple (click)="leaveRoute(notification.id)" >
        <mat-icon class="icon">notifications</mat-icon>
        <div class="title" fxLayout="column" >
          <div class="name" (click)="onDelete(id)">{{ notification.userName }}</div>
          <div class="time">{{ notification.reason }}</div>
          <!-- <button mat-icon-button (click)="onDelete($event, notification)">
            <mat-icon class="notice-icon-close">close</mat-icon>
          </button> -->
        </div>
      
        <span fxFlex></span>
        <!-- <button type="button" mat-icon-button (click)="delete(notification.id)">
          <mat-icon class="close">close</mat-icon>
        </button> -->
      </div>
      <div class="divider" *ngIf="!isLast"></div>
    </div>
  </perfect-scrollbar>
</ng-template>



