.table-header {
	background-color: white;
	color:black;
	padding: 0 5px;
}
.table-container {
	padding: 5px 15px 15px 15px;
}
.table-component-holder {
	border: 1px solid #102646;
	background-color: white;
}
mat-header-cell{
background-color: #102646;
color:white;
}
