
@mixin sidemenu($theme) {
    
    
}
.mat-list-item-ripple {
    margin-left: -10%;
    padding-left:20px !important;
}
 .ng-star-inserted{
    padding-left:0px !important;
 }
 .mat-list-item-content{
    .ng-star-inserted{
        padding-left:20px !important;
     }
 }
 .secondaryMenu {
     padding-left: 20px;
 }
