<div fxLayout="column" fxFlexFill fxLayoutAlign="center center" style="background-image:url('../../../assets/bg-5.jpg');
height: 100%;
width:100%;

background-position: center;
background-repeat: no-repeat;
background-size: cover;">
    <div fxLayout="column" >
   
        <div class=" mat-elevation-z4">
            <mat-card>
                <img src="../../assets/logo.png" style="height:100px; padding-left:28%;" >
                <mat-card-title style="text-align: center;">Login
                    <!-- <a class="redirect" [routerLink]="['/register']">Register an account</a> -->
                </mat-card-title>
                <mat-card-content>
                    <form fxLayout="column" fxLayoutAlign="start stretch" [formGroup]="userForm" (ngSubmit)="login(f)"  #f="ngForm">
                        <mat-form-field class="full-width">
                          <input type="email" id="email" class="input" placeholder="Enter email"
                                 formControlName="email" required matInput>
                        </mat-form-field>
                        <div *ngIf="formErrors.email" class="help is-danger">
                            {{ formErrors.email }}
                        </div>
                        <mat-form-field class="full-width">
                            <input type="password" id="password" class="input" placeholder="Enter password"
                            formControlName="password" required matInput>
                        </mat-form-field>
                        <div *ngIf="formErrors.password" class="help is-danger">
                            {{ formErrors.password }}
                        </div>
                        <button mat-raised-button color="accent" type="submit" [disabled]="!userForm.valid" >Login</button>
                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
