<div fxLayout="column" class="components-container-gt-xs" [ngClass.xs]="'components-container-xs'" fxLayoutGap="20px">

	<div fxFlex class="table-component-holder mat-elevation-z4">
		<mat-toolbar class="table-header">
			<h1 class="mat-headline center-align text-center" style="padding-left:10px;">
				<b>Leave Requests</b>
			</h1>
		</mat-toolbar>
		<div class="table-container">
			<div class="example-header" style="padding: 10px 20px; ">
				<mat-form-field floatPlaceholder="never" style="color: black; width: 80% ">
					<input matInput #filter placeholder="Filter users" (keyup)="applyFilter($event.target.value)" [(ngModel)]="searchTerm">
				</mat-form-field>
				<div fxFlex.xs="100" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50">
					<mat-form-field>
						<input matInput [matDatepicker]="picker " placeholder="From Date" [(ngModel)]="firstDay" (dateInput)="fromDate('input', $event)"
						 (dateChange)="fromDate('change', $event)">
						<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
						<mat-datepicker #picker></mat-datepicker>
					</mat-form-field>
					<mat-form-field>
						<input [min]="firstDay" matInput [matDatepicker]="picker1" placeholder="To Date" [(ngModel)]="lastDay" (dateInput)="toDate('input', $event)"
						 (dateChange)="toDate('change', $event)">
						<mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
						<mat-datepicker #picker1></mat-datepicker>
					</mat-form-field>
				</div>
			</div>
			<mat-table #table [dataSource]="dataSource" matSort style="margin-top: 20px;">
				<ng-container matColumnDef="Edit">
					<mat-header-cell *matHeaderCellDef> &nbsp;&nbsp;&nbsp;&nbsp; </mat-header-cell>
					<mat-cell *matCellDef="let dataSource" (click)="edit(dataSource.id)">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-pencil-square-o" aria-hidden="true" style="font-size: 20px"></i>
					</mat-cell>
				</ng-container>
				<ng-container matColumnDef="Name">
					<mat-header-cell *matHeaderCellDef mat-sort-header>Name </mat-header-cell>
					<mat-cell *matCellDef="let dataSource">{{dataSource.userName}} </mat-cell>
				</ng-container>
				<ng-container matColumnDef="LeaveType">
					<mat-header-cell *matHeaderCellDef mat-sort-header> &nbsp;&nbsp;&nbsp;&nbsp; Leave Type </mat-header-cell>
					<mat-cell *matCellDef="let dataSource"> &nbsp;&nbsp;&nbsp;&nbsp; {{dataSource.leaveType}} </mat-cell>
				</ng-container>
				<!-- Progress Column -->
				<ng-container matColumnDef="fromDate">
					<mat-header-cell *matHeaderCellDef mat-sort-header> From </mat-header-cell>
					<mat-cell *matCellDef="let dataSource"> {{dataSource.fromDate | date: 'longDate'}} </mat-cell>
				</ng-container>

				<!-- Name Column -->

				<ng-container matColumnDef="toDate">
					<mat-header-cell *matHeaderCellDef mat-sort-header> To </mat-header-cell>
					<mat-cell *matCellDef="let dataSource"> {{dataSource.toDate | date: 'longDate'}} </mat-cell>
				</ng-container>
				<!-- Color Column -->
				<ng-container matColumnDef="reason">
					<mat-header-cell *matHeaderCellDef mat-sort-header> Reason </mat-header-cell>
					<mat-cell *matCellDef="let dataSource"> {{dataSource.reason}} </mat-cell>
				</ng-container>
				<ng-container matColumnDef="status">
					<mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
					<mat-cell *matCellDef="let dataSource">
						<p *ngIf='dataSource.status == "PENDING"' style="color:blue">
							<b> PENDING</b>
						</p>
						<p *ngIf='dataSource.status == "REJECTED"' style="color:red">
							<b> REJECTED</b>
						</p>
						<p *ngIf='dataSource.status == "APPROVED"' style="color:green">
							<b> ACCEPTED</b>
						</p>
					</mat-cell>
				</ng-container>
				<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
				<mat-row *matRowDef="let dataSource; columns: displayedColumns;" [class.example-selected-row]="selection.isSelected(dataSource.id)"
				 (click)="leaveDetails(dataSource.id)" style="cursor: pointer;">
				</mat-row>
			</mat-table>
			<!-- <mat-card *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center;width:100%">
				<mat-progress-spinner color="primary" mode="indeterminate">
				</mat-progress-spinner>
			</mat-card> -->
			<div class="example-no-results text" [style.display]="dataSource.data?.length == 0 ? '' : 'none'">
				No leave requests found.
			</div>

			<mat-paginator #paginator [length]="100" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
			</mat-paginator>
		</div>
	</div>
</div>