.form-header {
	background-color: #102646;
	color: white;
	padding: 0 5px;
}
.mat-form-field{
	padding-left:10px;
}
.validation-message{
	background-color: #00BCD4;
}
.container{
	padding-left:10px;
	padding-right:10px;
}
.form-container {
	padding: 5px 15px 15px 15px;
}
.form-component-holder {
	border: 1px solid #102646;
	background-color: white;
}
.text{
	font-family:  Roboto, Helvetica Neue, sans-serif;
}
.cancelButton{
	margin-left: 10px;
}
mat-header-cell,mat-cell,mat-form-field,input,h1,h2,h3,h4,h5,h6,p{
	font-family:light;
}
.mat-snack-bar-container{
	padding-left:20px !important;
  }
  .mat-dialog-container {
    margin-left: 20px;
}