.table-header {
	background-color: white;
	color:#102646;
	padding: 0 5px;
}
.table-container {
	padding: 5px 15px 15px 15px;
}
.table-component-holder {
	border: 1px solid #102646;
	background-color: white;
	margin-left: 10px;
}
mat-header-cell{
background-color: #102646;
color:white;

}

.button-header {
	background-color: #327ebd;
	color: white;
	padding: 0 5px;
	
}
.button-container {
	padding: 5px 15px 15px 15px;
	margin-left: 10px;
}
.button-component-holder {
	border: 1px solid #327ebd;
	background-color: white;
	margin-left: 10px;

	h4 {
		color: #327ebd;
		margin: 14px 0;
		
	}

	mat-divider {
		margin-bottom: 10px;
	}
}
.mat-sort-header-container {
    display: flex;
    cursor: pointer;
    align-items: center;
    margin-left: 10px !important;
}
.mat-sort-header {
	border: none;
	background: 0 0;
	display: flex;
	align-items: center;
	padding: 0;
	margin-left: 10px !important;
	cursor: inherit;
	outline: 0;
	font: inherit;
	color: currentColor;
}
.mat-cell{
	margin-left: 10px;
}
// .ng-star-inserted{
// 	padding-left:20px !important;
//  }
mat-header-cell,mat-cell,mat-form-field,input,h1,h2,h3,h4,h5,h6,p,.text{
	font-family:light;
}
// .app-loading {
// 	.logo {
// 	  width: 100px;
// 	  height: 100px;
	  
// 	  // this way asset gets processed by webpack 
// 	  background: url(./assets/logo.png) center center no-repeat; 
// 	}
//   }