<div fxLayout="row" fxLayout="row wrap" >
    <div *ngFor="let dash of dashCard" fxFlex.lt-sm="100" style="cursor:pointer" fxFlex.sm="50" fxFlex.md="25">
        <cdk-dashcard class="text" style="text-align: center ;font-family:light;" [dashData]="dash"></cdk-dashcard>
    </div>
</div>
<div fxLayout="row" fxLayout="row wrap">
    <cdk-bar-graph class="text" fxFlex="60" fxFlex.lt-sm="100" fxFlex.sm="50"></cdk-bar-graph>
    <cdk-doughnut-graph class="text" fxFlex="40"stylfxFlex="40" fxFlex.lt-sm="100" fxFlex.sm="50"></cdk-doughnut-graph>
  
</div>
<!-- <div fxLayout="row" fxLayout="row wrap">
    <cdk-line-graph fxFlex="75" fxFlex.lt-sm="100" fxFlex.sm="50"></cdk-line-graph>
    <cdk-share-price fxFlex="25" fxFlex.lt-sm="100" fxFlex.sm="50"></cdk-share-price>
</div> -->
<div fxLayout="row" fxLayout="row wrap">
    <!-- <cdk-sales-list fxFlex="60" fxFlex.lt-sm="100" fxFlex.sm="100" fxFlex.md="70"></cdk-sales-list> -->
    <cdk-weather  class="text" fxFlex="50" fxFlex.lt-sm="100" fxFlex.sm="100"></cdk-weather>
    <cdk-profile-card class="text" fxFlex="50" fxFlex.lt-sm="100" fxFlex.sm="100" ></cdk-profile-card>
</div>
<div fxLayout="row" fxLayout="row wrap">
    <cdk-bar-graph-1 class="text" fxFlex="99" fxFlex.lt-sm="100" fxFlex.sm="50"></cdk-bar-graph-1>
</div>
<!-- <div fxLayout="row" fxLayout="row wrap">
    <div fxFlex.lt-sm="100" fxFlex.sm="50" fxFlex.md="25">
        <cdk-round-progressbar [title]="'Total Employees'" [current]="'23'" [max]="'100'" [background]="'#FFF968'" [color]="'#B1A7FF'"
            [boxcolor]="'#7986CB'"></cdk-round-progressbar>
    </div>
    <div fxFlex.lt-sm="100" fxFlex.sm="50" fxFlex.md="25">
        <cdk-round-progressbar style="text-align: center" [title]="'Absent Employees'" [current]="'33'" [max]="'100'" [background]="'#FFE268'"
            [color]="'#A7C1FF'" [boxcolor]="'#42A5F5'"></cdk-round-progressbar>
    </div>
    <div fxFlex.lt-sm="100" fxFlex.sm="50" fxFlex.md="25">
        <cdk-round-progressbar [title]="'Present Employees'" [current]="'78'" [max]="'100'" [background]="'#FFC368'" [color]="'#A7F0FF'"
            [boxcolor]="'#26A69A'"></cdk-round-progressbar>
    </div>
    <div fxFlex.lt-sm="100" fxFlex.sm="50" fxFlex.md="25">
        <cdk-round-progressbar [title]="'Late Entries'" [current]="'90'" [max]="'100'" [background]="'#FFCF68'" [color]="'#A7DEFF'"
            [boxcolor]="'#26C6DA'"></cdk-round-progressbar>
    </div>

</div> -->
<!-- <div class="components-container-gt-xs" >

        <div fxLayout="column" fxFlexFill #mapContainer>
            <div class="mat-elevation-z1 map-container" fxFlexFill>
                <agm-map [latitude]="lat" [longitude]="lng" [zoom]="17" [ngStyle]="{ 'height': height }">
                        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                </agm-map>
            </div>
        </div>
        </div> -->
<!-- 
<div fxLayout="row" fxLayout="row wrap">
    <cdk-world-map fxFlex="100" [tableData]="tableData"></cdk-world-map>
</div> -->