.table-header {
	background-color: white;
	color:black;
	padding: 0 5px;
}
.table-container {
	padding: 5px 15px 15px 15px;
}
.table-component-holder {
	border: 1px solid #102646;
	background-color: white;
}
mat-header-cell{
background-color: #102646;
color:white;
}
mat-cell{
	word-wrap:break-word;
	word-break: break-all;
}
table{
	font-family: Roboto, "Helvetica Neue", sans-serif;
	
}
mat-header-cell,mat-cell,mat-form-field,input,h1,h2,h3,h4,h5,h6,p{
	font-family:light;
}
span{
	word-wrap:break-word;
}
.button-header {
	background-color: #102646;
	color: white;
	padding: 0 5px;
}
.button-container {
	padding: 5px 15px 15px 15px;
}
.button-component-holder {
	border: 1px solid #102646;
	background-color: white;

	h4 {
		color: #327ebd;
		margin: 14px 0;
	}

	mat-divider {
		margin-bottom: 10px;
	}
}
table {
	width: 100%;
  }
  th{
	background-color: #102646;
	color:white;
	padding: 0 5px;

    align-items: center;
    overflow: hidden;
    word-wrap: break-word;
    min-height: inherit;
  }
 td{

    
    align-items: center;
    overflow: hidden;
    word-wrap: break-word;
    min-height: inherit;
 }