.table-header {
	background-color: white;
	color:#102646;
	padding: 0 5px;
}
.table-container {
	padding: 5px 15px 15px 15px;
}
.table-component-holder {
	border: 1px solid #102646;
	background-color: white;
}
mat-header-cell{
background-color: #102646;
color:white;
}

.button-header {
	background-color: #102646;
	color: white;
	padding: 0 5px;
}
.button-container {
	padding: 5px 15px 15px 15px;
}
.button-component-holder {
	border: 1px solid #102646;
	background-color: white;

	h4 {
		color: #327ebd;
		margin: 14px 0;
	}

	mat-divider {
		margin-bottom: 10px;
	}
}
.mat-cell{
	margin-left: 10px;
}
mat-header-cell,mat-cell,mat-form-field,input,h1,h2,h3,h4,h5,h6,p,.text{
	font-family:light;
}
.loader-container {
    background-color: white;
    width: 100px !important;
    height: 100px !important;
    z-index: 2;
    position: absolute;

    -moz-animation: cssAnimation 1s ease-in 3s forwards;
    /* Firefox */
    animation: cssAnimation 1s ease-in 3s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 1s ease-in 3s forwards;
    /* Opera */
    animation: cssAnimation 1s ease-in 3s forwards;
    animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes cssAnimation {
    to {
        opacity:0;
        display: none;
        visibility:hidden;
    }
}
@keyframes cssAnimation {
    to {
        visibility:hidden;
        opacity:0;
        display: none;
    }
}



.spinner {
    margin: 50vh auto 0;
    width: 70px;
    text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;


  border-radius: 100%;
  display: inline-block;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.bounce3 {
    background-color: orange;
}
.spinner .bounce1 {
    background-color: green;
  animation-delay: -0.48s;
  animation-delay: -0.48s;
}

.spinner .bounce1 {
    background-color: blue;
  animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
    background-color: red;
  animation-delay: -0.16s;
  animation-delay: -0.16s;
}



@keyframes sk-bouncedelay {
  0%, 80%, 100% { transform: scale(0) }
  40% { transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    transform: scale(0);
    transform: scale(0);
  } 40% {
    transform: scale(1.0);
    transform: scale(1.0);
  }
}

