.form-header {
	background-color:#102646;
	color: white;
	padding: 0 5px;
	font-family:light;
}
.mat-form-field{
	padding-left:10px;
	font-family:light;
}
.container{
	padding-left:10px;
	padding-right:10px;
}
.form-container {
	padding: 5px 15px 15px 15px;
}
.mat-radio-button.mat-accent .mat-radio-inner-circle {
	background-color:  rgb(46, 46, 46) !important;
	
}
.form-component-holder {
	border: 1px solid #327ebd;
	background-color: white;
}
.button-style{
	background-color: #327ebd;
	font-weight: bold;
	font-family:light;
}
.text{
	font-family:light;
}
// td{
// 	background-color: #327ebd;
// 	color:white;
// 	border-top-right-radius: 20px;
// 	border-top-left-radius: 20px;
// 	border-bottom-right-radius: 20px;
// 	border-bottom-left-radius: 20px;
// 	border-color:#64b9ff;
// 	border-width: 3px;
	
// 	padding:5px 5px 5px 5px;
// }

.td-style{
	box-shadow:0px 0px 10px;
	color:black;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-color:#64b9ff;
	border-width: 3px;
	font-family:light;
	padding:15px 5px 15px 29px;
	margin-bottom:5px;
	width:100%;
	transition-property: box-shadow;
	transition-duration: .25s;
}
.tablestyle{
	padding-top:10px;
	padding-bottom:10px;
}
tr{
	margin-bottom:5px;
}



.weekdays-section {
	display: flex;
	align-content: center;
	align-items: center;
  }
  
  .weekdays-margin {
	margin: 0 10px;
  }