.form-header {
	background-color:#102646;
	color: white;
	padding: 0 5px;
}
.mat-form-field{
	padding-left:10px;
}
.container{
	padding-left:10px;
	padding-right:10px;
}
.form-container {
	padding: 5px 15px 15px 15px;
}
.mat-radio-button.mat-accent .mat-radio-inner-circle {
	background-color:  rgb(46, 46, 46) !important;
	
}
.form-component-holder {
	border: 1px solid #102646;
	background-color: white;
}
.button-style{
	background-color: #102646;
	font-weight: bold;
}
.text{
	font-family:  Roboto, Helvetica Neue, sans-serif;
}